<!-- The main content area -->
<main id="main" role="main">

	<!-- ABOUT-MISSION -->
	<section class="about-mission p-t-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="inner">
						<h1><%- __('site.about.intro.title') %></h1>
						<ul class="inline-links">
							<li><a href="#our-principles"><%- __('site.about.intro.link-1') %></a></li>
							<li><a href="#active-swarms"><%- __('site.about.intro.link-2') %></a></li>
							<li><a href="#core-contributors"><%- __('site.about.intro.link-3') %></a></li>
						</ul>
						<p class="teaser-1"><%- __('site.about.intro.description') %></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-MISSION -->

	<!-- ABOUT-GALLERY -->
	<section class="about-gallery m-t-90">
		<%- image_tag("/img/about-gallery.jpg") %>
	</section>
	<!-- END-ABOUT-GALLERY -->

	<!-- ABOUT-PRINCIPLES -->
	<section class="about-principles p-t-160 p-b-160" id="our-principles">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3><%- __('site.about.principles.title') %></h3>
					<p class="teaser-2"><%- __('site.about.principles.description') %></p>
				</div>
			</div>
			<div class="row roman-list">
				<div class="col-md-6">
					<h4 class="m-b-25" data-roman="I"><%- __('site.about.principles.principle-1.title') %></h4>
					<p><%- __('site.about.principles.principle-1.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25" data-roman="II"><%- __('site.about.principles.principle-2.title') %></h4>
					<p><%- __('site.about.principles.principle-2.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="III"><%- __('site.about.principles.principle-3.title') %></h4>
					<p><%- __('site.about.principles.principle-3.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="IV"><%- __('site.about.principles.principle-4.title') %></h4>
					<p><%- __('site.about.principles.principle-4.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="V"><%- __('site.about.principles.principle-5.title') %></h4>
					<p><%- __('site.about.principles.principle-5.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="VI"><%- __('site.about.principles.principle-6.title') %></h4>
					<p><%- __('site.about.principles.principle-6.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="VII"><%- __('site.about.principles.principle-7.title') %></h4>
					<p><%- __('site.about.principles.principle-7.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="VIII"><%- __('site.about.principles.principle-8.title') %></h4>
					<p><%- __('site.about.principles.principle-8.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="IX"><%- __('site.about.principles.principle-9.title') %></h4>
					<p><%- __('site.about.principles.principle-9.description') %></p>
				</div>
				<div class="col-md-6">
					<h4 class="m-b-25 m-t-90" data-roman="X"><%- __('site.about.principles.principle-10.title') %></h4>
					<p><%- __('site.about.principles.principle-10.description') %></p>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-PRINCIPLES -->

	<!-- ABOUT-CHAT -->
	<section class="about-chat p-t-160 p-b-160" id="how-we-work">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3><%- __('site.about.how-we-work.title') %></h3>
					<p class="teaser-2"><%- __('site.about.how-we-work.description') %></p>
					<ul class="inline-links">
						<li>
							<div class="img-holder">
								<%- image_tag("/img/research.svg") %>
							</div>
							<%- __('site.about.how-we-work.research.title') %>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("/img/specifications-and-planning.svg") %>
							</div>
							<%- __('site.about.how-we-work.specifications-planning.title') %>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("/img/implementation.svg") %>
							</div>
							<%- __('site.about.how-we-work.implementation.title') %>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("/img/communication-and-post-mortem.svg") %>
							</div>
							<%- __('site.about.how-we-work.communication-post-mortem.title') %>
						</li>
					</ul>
				</div>
			</div>
			<div class="row" id="active-swarms">
				<div class="col-md-12 m-t-90 inline">
					<h3><%- __('site.about.active-swarms.title') %></h3>
					<a href="https://github.com/status-im/swarms" target="_blank" class="link-arrow-black"><%- image_tag("/img/tiny-logo.svg") %><%- __('site.about.active-swarms.link') %></a>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/316-core-network-incentives.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-1.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-1.swarm-meta') %>
							<span class="number">#316</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/mandrigin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/466427?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/466427?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/oskarth" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1552237?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1552237?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/andmironov" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/3115606?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/3115606?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/cammellos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1017008?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1017008?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/313-sticker-market/readme.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-2.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-2.swarm-meta') %>
							<span class="number">#313</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/jeluard" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/359723?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/359723?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/flexsurfer" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11790366?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11790366?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/asemiankevich" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/28752642?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/28752642?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/3esmit" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/224810?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/224810?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/errorists" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4932774?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4932774?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/314-tribute-to-talk/README.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-3.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-3.swarm-meta') %>
							<span class="number">#314</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/yenda" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/siphiuel" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1019573?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1019573?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/errorists" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4932774?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4932774?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/richard-ramos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1106587?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1106587?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/churik" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4557972?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4557972?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/317-dapps-store.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-4.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-4.swarm-meta') %>
							<span class="number">#317</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/andytudhope" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/13001517?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/13001517?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/hesterbruikman" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/richard-ramos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1106587?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1106587?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/errorists" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4932774?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4932774?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/321-teller-network.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-5.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-5.swarm-meta') %>
							<span class="number">#321</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/iurimatias" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/176720?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/176720?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/bgits" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4020296?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4020296?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/jrainville" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11926403?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11926403?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/richard-ramos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1106587?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1106587?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/3esmit" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/224810?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/224810?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/368-token-economics.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-6.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-6.swarm-meta') %>
							<span class="number">#368</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/jarradh" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/2714786?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/2714786?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/carlbennetts" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/bgits" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4020296?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4020296?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/corpetty" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/2460145?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/2460145?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/315-core-improvements.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-7.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-7.swarm-meta') %>
							<span class="number">#315</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/mandrigin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/466427?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/466427?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/adambabik" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/277870?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/277870?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/dmitryn" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/23836?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/23836?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/rasom" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/2364994?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/2364994?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/PombeirP" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/138074?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/138074?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/cammellos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1017008?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1017008?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/Serhy" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/8749671?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/8749671?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/annadanchenko" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/6584810?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/6584810?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/andmironov" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/3115606?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/3115606?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/311-status-protocol.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-8.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-8.swarm-meta') %>
							<span class="number">#311</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/oskarth" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1552237?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1552237?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/decanus" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/7621705?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/7621705?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/322-dao.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-9.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-9.swarm-meta') %>
							<span class="number">#322</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/iurimatias" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/176720?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/176720?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/bgits" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4020296?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4020296?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/jrainville" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11926403?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11926403?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/richard-ramos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1106587?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1106587?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/3esmit" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/224810?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/224810?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/312-swarm-janitors.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-10.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-10.swarm-meta') %>
							<span class="number">#312</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/jarradh" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/2714786?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/2714786?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/naghdy" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/32269875?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/32269875?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/oskarth" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1552237?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1552237?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/hesterbruikman" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/310-core.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-11.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-11.swarm-meta') %>
							<span class="number">#310</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/adambabik" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/277870?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/277870?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/cammellos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1017008?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1017008?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/PombeirP" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/138074?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/138074?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/rasom" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/2364994?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/2364994?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/dshulyak" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1964576?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1964576?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/andmironov" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/3115606?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/3115606?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/annadanchenko" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/6584810?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/6584810?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/Serhy" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/8749671?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/8749671?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/asemiankevich" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/28752642?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/28752642?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/mandrigin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/466427?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/466427?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/306-core-browser.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-12.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-12.swarm-meta') %>
							<span class="number">#306</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/jeluard" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/359723?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/359723?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/flexsurfer" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11790366?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11790366?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/asemiankevich" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/28752642?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/28752642?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/errorists" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4932774?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4932774?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/304-core-chat.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-13.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-13.swarm-meta') %>
							<span class="number">#304</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/yenda" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/siphiuel" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1019573?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1019573?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/churik" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4557972?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4557972?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/hesterbruikman" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/errorists" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/4932774?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/4932774?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/318-desktop.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-14.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-14.swarm-meta') %>
							<span class="number">#318</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/vkjr" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/5786310?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/5786310?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://github.com/status-im/swarms/blob/master/ideas/319-core-wallet.md" target="_blank" class="title"><%- __('site.about.active-swarms.inner-15.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-15.swarm-meta') %>
							<span class="number">#319</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/goranjovic" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/711764?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/711764?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/asemiankevich" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/28752642?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/28752642?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/rachelhamlin" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/15470435?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/15470435?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://keycard.status.im/" target="_blank" class="title"><%- __('site.about.active-swarms.inner-16.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-16.swarm-meta') %>
							<span class="number">#320</span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/guylouis" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11461437?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11461437?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/bitgamma" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/12899729?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/12899729?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/gravityblast" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1059?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1059?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/dmitryn" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/23836?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/23836?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/asemiankevich" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/28752642?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/28752642?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/goranjovic" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/711764?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/711764?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/hesterbruikman" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://embark.status.im/" target="_blank" class="title"><%- __('site.about.active-swarms.inner-17.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-17.swarm-meta') %>
							<span class="number"></span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/iurimatias" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/176720?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/176720?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/emizzle" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/5089238?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/5089238?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/jrainville" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/11926403?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/11926403?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/richard-ramos" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1106587?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1106587?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/andremedeiros" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/9689?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/9689?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/michaelsbradleyjr" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/194260?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/194260?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/michaelsbradleyjr" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/445106?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/445106?s=72 2x'}) %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="inner">
						<a href="https://nimbus.status.im/" target="_blank" class="title"><%- __('site.about.active-swarms.inner-18.title') %></a>
						<div class="swarm-meta">
							<%- __('site.about.active-swarms.inner-18.swarm-meta') %>
							<span class="number"></span>
						</div>
						<ul class="authors">
							<li><a href="https://github.com/arnetheduck" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/cheatfate" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/5955411?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/5955411?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/mratsim" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/22738317?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/22738317?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/zah" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/175462?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/175462?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/yglukhov" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/6962409?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/6962409?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/tersec" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
							<li><a href="https://github.com/swader" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/1430603?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/1430603?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/stefantalpalaru" target="_blank"><%- image_tag("https://avatars0.githubusercontent.com/u/495550?s=36", { srcset: 'https://avatars0.githubusercontent.com/u/495550?s=72 2x'}) %></a></li>
							<li><a href="https://github.com/kdeme" target="_blank"><%- image_tag("/img/contributor-no-img.png", { srcset: '/img/contributor-no-img-2x.png 2x'}) %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CHAT -->

	<!-- ABOUT-CORE-CONTRIBUTORS -->
	<section class="about-core-contributors p-t-160 p-b-160" id="core-contributors">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="inner">
						<h3><%- __('site.about.core-contributors.title') %></h3>
						<p class="teaser-2"><%- __('site.about.core-contributors.description') %></p>
						<ul class="inline-links">
							<li><a href="/contribute/open_positions.html" class="link-arrow"><%- __('site.about.core-contributors.link-1') %></a></li>
							<li><a href="/contribute/life_status.html" class="link-arrow"><%- __('site.about.core-contributors.link-2') %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="contributors row m-t-90">
						<%- employees() %>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CORE-CONTRIBUTORS -->

</main>