<!-- The main content area -->
<main id="main" role="main">

	<!-- COMMUNITY-OPEN-SOURCE -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4><%- __('site.get-involved.community.intro.subtitle') %></h4>
					<h1 class="community-nav-trigger"><%- __('site.get-involved.community.intro.title') %></h1>
					<p class="teaser-1"><%- __('site.get-involved.community.intro.description') %> </p>
					<p><a href="#groups" class="link-arrow"><%- __('site.get-involved.community.intro.link-1') %></a></p>
					<p><a href="mailto:contribute@status.im" class="link-arrow"><%- __('site.get-involved.community.intro.link-2') %></a></p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-COMMUNITY-OPEN-SOURCE -->

	<div class="position-relative">
		<!-- DEVELOPMENT-QUICK-NAV -->
		<section class="quick-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="/get-involved/developers/"><%- image_tag("/img/development-small-icon.svg") %><%- __('site.link.developers') %></a></li>
							<li><a href="/get-involved/educators/"><%- image_tag("/img/educate-small-icon.svg") %><%- __('site.link.educators') %></a></li>
							<li><a href="/get-involved/community-groups/" class="active"><%- image_tag("/img/community-groups-small-icon.svg") %><%- __('site.link.community-groups') %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV -->
	</div>

	<!-- BLOCK-ACCOUNT-CREATION -->
	<section class="block-account-creation p-t-160 p-b-160" id="groups">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xl-4">
					<div class="account-creation">
						<%- image_tag("/img/status-ambassadors.svg") %>
						<a href="https://get.status.im/chat/public/statusphere" target="_blank"><%- __('site.get-involved.community.community-groups.account-group-1.link') %></a>
						<p><%- __('site.get-involved.community.community-groups.account-group-1.description') %></p>
						<div class="meta">
							<span class="occupation"><%- __('site.get-involved.community.community-groups.account-group-1.occupation') %></span>
							<span class="name"><%- __('site.get-involved.community.community-groups.account-group-1.name') %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="account-creation">
						<%- image_tag("/img/status-korea.svg") %>
						<a href="https://get.status.im/chat/public/status-korean" target="_blank"><%- __('site.get-involved.community.community-groups.account-group-2.link') %></a>
						<p><%- __('site.get-involved.community.community-groups.account-group-2.description') %></p>
						<div class="meta">
							<span class="occupation"><%- __('site.get-involved.community.community-groups.account-group-2.occupation') %></span>
							<span class="name"><%- __('site.get-involved.community.community-groups.account-group-2.name') %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="account-creation">
						<%- image_tag("/img/status-en-espanol.svg") %>
						<a href="https://get.status.im/chat/public/status-spanish" target="_blank"><%- __('site.get-involved.community.community-groups.account-group-3.link') %></a>
						<p><%- __('site.get-involved.community.community-groups.account-group-3.description') %></p>
						<div class="meta">
							<span class="occupation"><%- __('site.get-involved.community.community-groups.account-group-3.occupation') %></span>
							<span class="name"><%- __('site.get-involved.community.community-groups.account-group-3.name') %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="account-creation">
						<%- image_tag("/img/status-chinese.svg") %>
						<a href="https://get.status.im/chat/public/status-chinese" target="_blank"><%- __('site.get-involved.community.community-groups.account-group-4.link') %> </a>
						<p><%- __('site.get-involved.community.community-groups.account-group-4.description') %></p>
						<div class="meta">
							<span class="occupation"><%- __('site.get-involved.community.community-groups.account-group-4.occupation') %></span>
							<span class="name"><%- __('site.get-involved.community.community-groups.account-group-4.name') %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="account-creation">
						<%- image_tag("/img/philosophers.svg") %>
						<a href="https://get.status.im/chat/public/philosophers" target="_blank"><%- __('site.get-involved.community.community-groups.account-group-5.link') %></a>
						<p><%- __('site.get-involved.community.community-groups.account-group-5.description') %></p>
						<div class="meta">
							<span class="occupation"><%- __('site.get-involved.community.community-groups.account-group-5.occupation') %></span>
							<span class="name"><%- __('site.get-involved.community.community-groups.account-group-5.name') %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-BLOCK-ACCOUNT-CREATION -->

	<div class="community-nav">
		<a href="#" class="community-nav-trigger-close">
			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
		</a>
		<nav>
			<ul>
				<li><a href="/get-involved/developers/"><%- __('site.link.developers') %></a></li>
				<li><a href="/get-involved/educators/"><%- __('site.link.educators') %></a></li>
				<li><a href="/get-involved/community-groups/" class="active"><%- __('site.link.community-groups') %></a></li>
			</ul>
		</nav>
	</div>
	<div class="backdrop-community-nav"></div>

</main>