<!-- The main content area -->
<main id="main" role="main">

	<!-- DEVELOPMENT-OPEN-SOURCE -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>An Open Source Community</h4>
					<h1 class="community-nav-trigger">Development</h1>
					<p class="teaser-1">Welcome to the Status Developer Portal. Find everything you need to start contributing to Status, building your own DApps, or extending your work with the natives features of Status.</p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DEVELOPMENT-OPEN-SOURCE -->

	<div class="position-relative">
		<!-- DEVELOPMENT-QUICK-NAV -->
		<section class="quick-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="/get-involved/developers/" class="active"><%- image_tag("/img/development-small-icon.svg") %>Developers</a></li>
							<li><a href="/get-involved/educators/"><%- image_tag("/img/educate-small-icon.svg") %>Educators</a></li>
							<li><a href="/get-involved/community-groups/"><%- image_tag("/img/community-groups-small-icon.svg") %>Community Groups</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV -->

		<!-- DEVELOPMENT-QUICK-NAV-SUB -->
		<section class="quick-nav-sub">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="#contribute-to-status">Contribute to Status</a></li>
							<li><a href="#build-dapps">Build DApps</a></li>
							<li><a href="#extend-dapps">Extend DApps</a></li>
							<li><a href="#developer-resources">Developer Resources</a></li>
						</ul>
						<a href="https://github.com/status-im" target="_blank"><%- image_tag("/img/github-white-logo.svg") %>Github</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV-SUB -->
	</div>

	<!-- DEVELOPMENT-CONTRIBUTE-TO-STATUS -->
	<section class="development-contribute-to-status p-t-160 p-b-160" id="contribute-to-status">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Contribute to Status</h2>
					<p class="teaser-2">Get set up with this Contributor Guide. <a href="/docs/contributor_guide.html" class="link-arrow quick-start-guide">Quick Start Guide</a></p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="box-with-icon m-t-50">
						<%- image_tag("/img/github-black-logo.svg") %>
						<div class="inner">
							<h3>Status-React</h3>
							<p class="p-large">Written in Clojure - this is where we handle interactions between Whisper and the app; between the wallet, the user and any Distributed Application (DApp) that they want to access; and where the UI logic lives.</p>
							<a href="https://github.com/status-im/status-react" target="_blank" class="link-arrow">View Repository</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box-with-icon m-t-50">
						<%- image_tag("/img/github-black-logo.svg") %>
						<div class="inner">
							<h3>Status-Go</h3>
							<p class="p-large">Written in Go - this is where all of the blockchain logic, transactions, and light client work we do lives. </p>
							<a href="https://github.com/status-im/status-go" target="_blank" class="link-arrow">View Repository</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container m-t-90 open-issues">
			<div class="row">
				<div class="col-md-6">
					<h3>Open Issues Status-React</h3>
					<ul class="open-issues-react"></ul>
					<a href="https://github.com/status-im/status-react/issues/" target="_blank" class="link-arrow">View all open issues</a>
				</div>
				<div class="col-md-6">
					<h3>Open Issues Status-Go</h3>
					<ul class="open-issues-go"></ul>
					<a href="https://github.com/status-im/status-go/issues/" target="_blank" class="link-arrow">View all open issues</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="box-with-icon m-t-50">
						<%- image_tag("/img/crypto-logo.svg") %>
						<div class="inner">
							<h3>Earn crypto for <br>completing bounties</h3>
							<p class="p-large">See the full list of technical bounties on <a href="https://gitcoin.co/explorer?network=mainnet&idx_status=open&keywords=status&order_by=-web3_created" target="_blank" class="link-arrow">Gitcoin</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box-with-icon m-t-50">
						<%- image_tag("/img/bounty-program.svg") %>
						<div class="inner">
							<h3>Report a security <br>vulnerability and fix it</h3>
							<p class="p-large">Learn more about the <a href="https://blog.status.im/status-network-token-bug-bounty-a66fc2324359" target="_blank" class="link-arrow">Bug bounty program</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DEVELOPMENT-CONTRIBUTE-TO-STATUS -->

	<!-- DEVELOPMENT-DAPP -->
	<section class="development-dapp" id="build-dapps">
		<div class="container">
			<div class="row">
				<div class="col-md-6 development-build-dapp">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<h2>Build your own DApp</h2>
								<p class="teaser-2">Get started with our tools and frameworks to build your own decentralized application.</p>
								<ul>
									<li><a href="/developer_tools/status_web_api.html" class="link-arrow">Optimize for mobile with the Javascript API</a></li>
									<li><a href="https://embark.status.im/" target="_blank" class="link-arrow">Build your own DApp with Embark</a></li>
									<li><a href="/developer_tools/access_eth_provider.html" class="link-arrow">Access Web3 providers and detect Status</a></li>
									<li><a href="/developer_tools/add_your_dapp.html" class="link-arrow">Submit your DApp to the Status DApp list</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-black col-offset-top development-extend-dapp" id="extend-dapps">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-11 d-flex align-items-start flex-column">
								<h2>Extend your DApp</h2>
								<p class="teaser-2">Extensions allow you to leverage the native of features of Status within your DApp.</p>
								<ul>
									<li><a href="/extensions/" class="link-arrow link-arrow-white">Introduction to Extensions</a></li>
									<li><a href="/tutorials/" class="link-arrow link-arrow-white">Tutorials</a></li>
									<li><a href="/extensions/examples.html" class="link-arrow link-arrow-white">Examples & Existing Extensions</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- DEVELOPMENT-DAPP -->

	<!-- DEVELOPMENT-RESOURCES -->
	<section class="development-resources col-dark-grey col-black p-b-160 p-t-160" id="developer-resources">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto contribute-support">
					<div class="inner">
						<h2>Contribute Support</h2>
						<ul>
							<li>
								<a href="/docs/" class="link-arrow link-arrow-white">Write Documentation</a>
								<p>Dive in and help write, edit, and fix the docs. Edits are all made via GitHub.</p>
							</li>
							<li>
								<a href="https://lokalise.co/projects" target="_blank" class="link-arrow link-arrow-white">Translate Documentation</a>
								<p>We need help translating all of our documentation into your local language.</p>
							</li>
							<li>
								<a href="https://get.status.im/chat/public/introductions" target="_blank" class="link-arrow link-arrow-white">Welcome New Contributors</a>
								<p>Join the Status #introductions channel and help out new contributors and community members.</p>
							</li>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow link-arrow-white">Create Tutorials</a>
								<p>Contact us and learn how you can have your tutorials featured in the docs and the Status blog.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 developer-resources">
					<div class="inner">
						<h2>Developer Resources</h2>
						<ul>
							<li><a href="https://github.com/status-im" target="_blank" class="link-arrow link-arrow-white">Github Repositories</a></li>
							<li><a href="/docs/" class="link-arrow link-arrow-white">Documentation</a></li>
							<li><a href="https://embark.status.im/" target="_blank" class="link-arrow link-arrow-white">Embark</a></li>
							<li><a href="/tutorials/" class="link-arrow link-arrow-white">Tutorials</a></li>
							<li><a href="/nightly/" class="link-arrow link-arrow-white">Nightly Builds</a></li>
							<li><a href="https://our.status.im/" target="_blank" class="link-arrow link-arrow-white">Blog</a></li>
							<li><a href="https://www.youtube.com/playlist?list=PLbrz7IuP1hrjyCQqEpkpho41JpaFF3czG" target="_blank" class="link-arrow link-arrow-white">Listen to the latest core developer call</a></li>
							<li><a href="https://our.status.im/" target="_blank" class="link-arrow link-arrow-white">Check out the latest release notes</a></li>
							<li><a href="/about/#active-swarms" class="link-arrow link-arrow-white">See the list of active swarms</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- DEVELOPMENT-RESOURCES  -->

	<!-- DEVELOPMENT-GET-IN-TOUCH -->
	<section class="development-get-in-touch p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Get in touch</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/status" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #status</a>
						<p>General Status news and discussion.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/status-core" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #status-core</a>
						<p>Public channel about core development.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/introductions" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #introductions</a>
						<p>New to Status? Introduce yourself and say hello!</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="mailto:contribute@status.im">Contact us</a>
						<p>For everything else, email us directly.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DEVELOPMENT-GET-IN-TOUCH -->

	<div class="community-nav">
		<a href="#" class="community-nav-trigger-close">
			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
		</a>
		<nav>
			<ul>
				<li><a href="/get-involved/developers/" class="active">Developers</a></li>
				<li><a href="/get-involved/educators/">Educators</a></li>
				<li><a href="/get-involved/community-groups/">Community Groups</a></li>
			</ul>
		</nav>
	</div>
	<div class="backdrop-community-nav"></div>

</main>
