<!-- The main content area -->

<main id="main" role="main">
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>Developer Portal</h1>
					<p class="teaser-1"><%- __('site.docs.index.intro.teaser-1') %><a href="https://dap.ps">dap.ps</a>.</p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>


	<div class="stripe">
		<b><%- __('site.docs.stripe.title') %></b>
    	<%- include('partial/shared-partials/partials/search') %>
	</div>

	<section class="single-docs-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xl-2">
          <%- partial('partial/sidebar') %>
        </div>
        <div class="col-md-9 col-xl-10">
        	<section class="docs-box-links">
	        	<div class="container large-tiles-wrapper">
							<div class="row">
								<div class="col-xl-5 box-link-wrapper">
									<div class="box-link">
										<h3 class="title"><a href="<%- show_lang() %>/technical/"><%- image_tag("/img/ic-contributor-guide.svg") %><%- __('site.docs.index.box-link-1.title') %></a></h3>
										<p><%- __('site.docs.index.box-link-1.text') %></p>
										<a href="<%- show_lang() %>/technical/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
									</div>
								</div>
								<div class="col-xl-5 box-link-wrapper">
									<div class="box-link">
										<h3 class="title"><a href="<%- show_lang() %>/developer_tools/"><%- image_tag("/img/ic-dapp-center.svg") %><%- __('site.docs.index.box-link-2.title') %></a></h3>
										<p><%- __('site.docs.index.box-link-2.text') %></p>
										<a href="<%- show_lang() %>/developer_tools/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h4 class="section-title m-t-90"><%- __('site.docs.pinned-repositories.title') %></h4>
							</div>
							<div class="col-md-12">
								<div class="pinned-repos">
									<div class="row">
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://github.com/status-im/status-react" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.status-react.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.status-react.description') %></div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://github.com/status-im/status-go" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.status-go.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.status-go.description') %></div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://github.com/status-im/swarms" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.swarms.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.swarms.description') %></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>
</main>