<!-- The main content area -->
<main id="main" role="main">

	<div class="stripe">
		<b>Status Documentation</b>
    	<%- include('partial/shared-partials/partials/search') %>
	</div>

	<!-- DOCS-PAGE -->
	<section class="docs-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<%- partial('partial/sidebar') %>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title mb-0">Welcome to the Status Documentation!</h4>
							<p>Get familiar with or workflows and projects:</p>
						</div>
					</div>
					<div class="categories">
						<div class="row">
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/docs/technical_documentation.html">Technical Documentation</a>
									<span class="detail">Growing our distributed ecosystem</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/developer_tools/">Developer Tools</a>
									<span class="detail">JS API and Extensions</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/build_status/">Build Status</a>
									<span class="detail">For mobile and desktop</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/extensions/">Extensions</a>
									<span class="detail">Extend into the future</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/research/">Research</a>
									<span class="detail">Dive in! Learn more.</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/security_docs/">Security</a>
									<span class="detail">Status best practices</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/guides/">Guides</a>
									<span class="detail">How we handle things</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/tutorials/">Tutorials</a>
									<span class="detail">Learn for yourself</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="/contribute/life_status.html">Life at Status</a>
									<span class="detail">Day-to-day decentralization</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title m-t-90">Pinned Repositories</h4>
						</div>
					</div>
					<div class="pinned-repos">
						<div class="row">
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="https://github.com/status-im/status-react" target="_blank"><%- image_tag("img/icon-github.svg") %> status-react</a>
									<span class="detail">A free (libre) open source, mobile OS for Ethereum.</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="https://github.com/status-im/status-go" target="_blank"><%- image_tag("img/icon-github.svg") %> status-go</a>
									<span class="detail">The Status module that consumes go-ethereum.</span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="https://github.com/status-im/swarms" target="_blank"><%- image_tag("img/icon-github.svg") %> swarms</a>
									<span class="detail">Swarm Home. New, completed and in-progress features for Status.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title m-t-90 mb-0">We are here to help!</h4>
							<p>We're always happy to help with code or any questions you have.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6">
							<ul class="support">
								<li><a href="https://github.com/status-im" target="_blank"><%- image_tag("img/icon-github.svg") %> Report a Bug</a></li>
								<li><a href="https://www.reddit.com/r/statusim/" target="_blank"><%- image_tag("img/icon-reddit.svg") %> Ask on reddit</a></li>
							</ul>
						</div>
						<div class="col-xl-4 col-md-6">
							<ul class="support">
								<li><a href="https://get.status.im/chat/public/status" target="_blank"><%- image_tag("img/icon-status.svg") %> Status Community Chat</a></li>
							</ul>
						</div>
						<div class="col-xl-4 col-md-6">
							<ul class="support">
								<li><a href="mailto:support@status.im"><%- image_tag("img/icon-email.svg") %> Email Us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title m-t-90">Recently updated</h4>
							<ul class="recently-updated"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DOCS-PAGE -->

</main>
