<!-- The main content area -->
<main id="main" role="main">

	<!-- EDUCATE-OPEN-SOURCE -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>An Open Source Community</h4>
					<h1 class="community-nav-trigger">Education</h1>
					<p class="teaser-1">Everyone is welcome to help educate others on how to build Status, use Status, get started in the community, or even share their own experiences with the project.</p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-OPEN-SOURCE -->

	<div class="position-relative">
		<!-- DEVELOPMENT-QUICK-NAV -->
		<section class="quick-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="/get-involved/developers/"><%- image_tag("/img/development-small-icon.svg") %>Developers</a></li>
							<li><a href="/get-involved/educators/" class="active"><%- image_tag("/img/educate-small-icon.svg") %>Educators</a></li>
							<li><a href="/get-involved/community-groups/"><%- image_tag("/img/community-groups-small-icon.svg") %>Community Groups</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV -->

		<!-- DEVELOPMENT-QUICK-NAV-SUB -->
		<section class="quick-nav-sub">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="#educate-and-create">Educate and create</a></li>
							<li><a href="#translate">Translate</a></li>
							<li><a href="#educator-resources">Educator Resources</a></li>
						</ul>
						<a href="https://github.com/status-im" target="_blank"><%- image_tag("/img/github-white-logo.svg") %>Github</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV-SUB -->
	</div>

	<!-- EDUCATE-CONTRIBUTE -->
	<section class="educate-contribute p-t-160 p-b-160" id="educate-and-create">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner how-to-get-started">
						<h2>How to Get Started</h2>
						<ul>
							<li>
								<a href="https://our.status.im/status-im-a-beginners-guide/" target="_blank" class="link-arrow">Community Member Beginners Guide</a>
								<p>Check out this guide created by community member, Warsoverjohn.</p>
							</li>
							<li>
								<a href="https://notes.status.im/s/HkbYNN8veN#TOC" class="link-arrow">Glossary</a>
								<p>Refer to this open source doc for terms, definitions, resources and concepts. Feel free to add to it.</p>
							</li>
							<li>
								<a href="/docs/FAQs.html" class="link-arrow">FAQ’s</a>
								<p>Here is an ongoing list of frequently asked questions from everyone in the Status community.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner create">
						<h2>Create</h2>
						<ul>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow">Create non-technical turorials</a>
								<p>Help newcomers set up thier account and navigate the status app and community. Contact us to have your tutorial shared on the blog.</p>
							</li>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow">Create Technical Tutorials</a>
								<p>Help developers build Status, build DApps, create an extension or anything else you would like to share. Contact us.</p>
							</li>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow">Write a blog post</a>
								<p>Share a story on the status blog <a href="https://our.status.im">our.status.im</a>. Become a publisher on the Status Blog.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-CONTRIBUTE -->

	<!-- EDUCATE-TRANSLATE -->
	<section class="educate-translate p-b-160 p-t-160" id="translate">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-img">
						<%- image_tag("/img/translate.svg") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner">
						<h2>Translate</h2>
						<p class="teaser-2">Help us localise Status into your language.</p>
						<ul>
							<li><a href="https://lokalise.co/projects" class="link-arrow">Status Application</a></li>
							<li><a href="https://lokalise.co/projects" class="link-arrow">Status Website</a></li>
							<li><a href="https://lokalise.co/projects" class="link-arrow">Documentation</a></li>
							<li><a href="mailto:contribute@status.im" class="link-arrow">Blog Articles</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-TRANSLATE -->

	<!-- EDUCATOR-RESOURCES -->
	<section class="educator-resources col-dark-grey col-black p-t-160 p-b-160" id="educator-resources">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Educator Resources</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<ul>
							<li>
								<a href="https://github.com/status-im/design-guides" target="_blank" class="link-arrow link-arrow-white">Styleguide & Assets</a>
								<p>Find the latest Styleguide along with branded assets, templates, and fonts.</p>
							</li>
							<li>
								<a href="https://discuss.status.im/" target="_blank" class="link-arrow link-arrow-white">Discuss</a>
								<p>Join long form discussion about all things Status.</p>
							</li>
							<li>
								<a href="/tutorials/" class="link-arrow link-arrow-white">Tutorials</a>
								<p>Learn how to build something or see some examples of other community made tutorials.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner educate-join">
						<ul>
							<li>
								<a href="https://our.status.im/" class="link-arrow link-arrow-white">Blog</a>
								<p>Check out the latest Status news and updates.</p>
							</li>
							<li>
								<a href="/nightly/" class="link-arrow link-arrow-white">Nightlies</a>
								<p>Install and test the latest nightly build for mobile and desktop.</p>
							</li>
							<li>
								<a href="https://our.status.im/" target="_blank" class="link-arrow link-arrow-white">Check out the latest release notes</a>
							</li>
							<li>
								<a href="/about/#active-swarms" class="link-arrow link-arrow-white">See the list of active swarms</a>
							</li>
							<li>
								<a href="https://people-ops.status.im/status-channels/" target="_blank" class="link-arrow link-arrow-white">See full list of Status Public Channels</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- EDUCATOR-RESOURCES -->

	<!-- EDUCATE-GET-IN-TOUCH -->
	<section class="development-get-in-touch p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Get in touch</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/status" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #status</a>
						<p>General Status news and discussion.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/status-educate" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #statusphere</a>
						<p>A growing community of Status Ambassadors and enthusiasts</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/introductions" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %>Join #introductions</a>
						<p>New to Status? Introduce yourself and say hello!</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="mailto:contribute@status.im">Contact us</a>
						<p>For everything else, email us directly.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-GET-IN-TOUCH -->

	<div class="community-nav">
		<a href="#" class="community-nav-trigger-close">
			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
		</a>
		<nav>
			<ul>
				<li><a href="/get-involved/developers/">Developers</a></li>
				<li><a href="/get-involved/educators/" class="active">Educators</a></li>
				<li><a href="/get-involved/community-groups/">Community Groups</a></li>
			</ul>
		</nav>
	</div>
	<div class="backdrop-community-nav"></div>

</main>
