<!-- The main content area -->
<main id="main" role="main">

	<!-- EDUCATE-OPEN-SOURCE -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4><%- __('site.get-involved.educators.intro.subtitle') %></h4>
					<h1 class="community-nav-trigger"><%- __('site.get-involved.educators.intro.title') %></h1>
					<p class="teaser-1"><%- __('site.get-involved.educators.intro.description') %></p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-OPEN-SOURCE -->

	<div class="position-relative">
		<!-- DEVELOPMENT-QUICK-NAV -->
		<section class="quick-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="<%- show_lang() %>/get-involved/developers/"><%- image_tag("/img/development-small-icon.svg") %><%- __('site.link.developers') %></a></li>
							<li><a href="<%- show_lang() %>/get-involved/educators/"  class="active"><%- image_tag("/img/educate-small-icon.svg") %><%- __('site.link.educators') %></a></li>
							<li><a href="<%- show_lang() %>/get-involved/community-groups/"><%- image_tag("/img/community-groups-small-icon.svg") %><%- __('site.link.community-groups') %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV -->

		<!-- DEVELOPMENT-QUICK-NAV-SUB -->
		<section class="quick-nav-sub">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="#educate-and-create"><%- __('site.get-involved.educators.quick-nav-sub.link-1') %></a></li>
							<li><a href="#translate"><%- __('site.get-involved.educators.quick-nav-sub.link-2') %></a></li>
							<li><a href="#educator-resources"><%- __('site.get-involved.educators.quick-nav-sub.link-3') %></a></li>
						</ul>
						<a href="https://github.com/status-im" target="_blank"><%- image_tag("/img/github-white-logo.svg") %><%- __('site.get-involved.educators.quick-nav-sub.link-4') %></a>
					</div>
				</div>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV-SUB -->
	</div>

	<!-- EDUCATE-CONTRIBUTE -->
	<section class="educate-contribute p-t-160 p-b-160" id="educate-and-create">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner how-to-get-started">
						<h2><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.title') %></h2>
						<ul>
							<li>
								<a href="https://our.status.im/status-im-a-beginners-guide/" target="_blank" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-1') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-1-description') %></p>
							</li>
							<li>
								<a href="https://notes.status.im/s/HkbYNN8veN#TOC" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-2') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-2-description') %></p>
							</li>
							<li>
								<a href="<%- show_lang() %>/docs/FAQs.html" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-3') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-3-description') %></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner create">
						<h2><%- __('site.get-involved.educators.educate-contribute.create.title') %></h2>
						<ul>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.create.link-1') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.create.link-1-description') %></p>
							</li>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.create.link-2') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.create.link-2-description') %></p>
							</li>
							<li>
								<a href="mailto:contribute@status.im" class="link-arrow"><%- __('site.get-involved.educators.educate-contribute.create.link-3') %></a>
								<p><%- __('site.get-involved.educators.educate-contribute.create.link-3-description') %></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-CONTRIBUTE -->

	<!-- EDUCATE-TRANSLATE -->
	<section class="educate-translate p-b-160 p-t-160" id="translate">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-img">
						<%- image_tag("/img/translate.svg") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner">
						<h2><%- __('site.get-involved.educators.translate.title') %></h2>
						<p class="teaser-2"><%- __('site.get-involved.educators.translate.description') %></p>
						<ul>
							<li><a href="https://translate.status.im/" target="_blank" class="link-arrow"><%- __('site.get-involved.educators.translate.link') %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-TRANSLATE -->

	<!-- EDUCATOR-RESOURCES -->
	<section class="educator-resources col-dark-grey col-black p-t-160 p-b-160" id="educator-resources">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><%- __('site.get-involved.educators.educator-resources.title') %></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<ul>
							<li>
								<a href="https://github.com/status-im/design-guides" target="_blank" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-1') %></a>
								<p><%- __('site.get-involved.educators.educator-resources.link-1-description') %></p>
							</li>
							<li>
								<a href="https://discuss.status.im/" target="_blank" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-2') %></a>
								<p><%- __('site.get-involved.educators.educator-resources.link-2-description') %></p>
							</li>
							<li>
								<a href="<%- show_lang() %>/tutorials/" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-3') %></a>
								<p><%- __('site.get-involved.educators.educator-resources.link-3-description') %></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner educate-join">
						<ul>
							<li>
								<a href="https://our.status.im/" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-4') %></a>
								<p><%- __('site.get-involved.educators.educator-resources.link-4-description') %></p>
							</li>
							<li>
								<a href="<%- show_lang() %>/nightly/" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-5') %></a>
								<p><%- __('site.get-involved.educators.educator-resources.link-5-description') %></p>
							</li>
							<li>
								<a href="https://our.status.im/" target="_blank" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-6') %></a>
							</li>
							<li>
								<a href="<%- show_lang() %>/about/#active-swarms" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-7') %></a>
							</li>
							<li>
								<a href="https://people-ops.status.im/status-channels/" target="_blank" class="link-arrow link-arrow-white"><%- __('site.get-involved.educators.educator-resources.link-8') %></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- EDUCATOR-RESOURCES -->

	<!-- EDUCATE-GET-IN-TOUCH -->
	<section class="development-get-in-touch p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3><%- __('site.get-involved.developers.get-in-touch.title') %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/status" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %><%- __('site.get-involved.developers.get-in-touch.join-status.link') %></a>
						<p><%- __('site.get-involved.developers.get-in-touch.join-status.description') %></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/statusphere" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %><%- __('site.get-involved.educators.get-in-touch.join-statusphere.link') %></a>
						<p><%- __('site.get-involved.educators.get-in-touch.join-statusphere.description') %></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="https://get.status.im/chat/public/introductions" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %><%- __('site.get-involved.developers.get-in-touch.join-introductions.link') %></a>
						<p><%- __('site.get-involved.developers.get-in-touch.join-introductions.description') %></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="mailto:contribute@status.im"><%- __('site.get-involved.developers.get-in-touch.contact-us.link') %></a>
						<p><%- __('site.get-involved.developers.get-in-touch.contact-us.description') %></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-GET-IN-TOUCH -->

	<div class="community-nav">
		<a href="#" class="community-nav-trigger-close">
			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
		</a>
		<nav>
			<ul>
				<li><a href="<%- show_lang() %>/get-involved/developers/"><%- __('site.link.developers') %></a></li>
				<li><a href="<%- show_lang() %>/get-involved/educators/" class="active"><%- __('site.link.educators') %></a></li>
				<li><a href="<%- show_lang() %>/get-involved/community-groups/"><%- __('site.link.community-groups') %></a></li>
			</ul>
		</nav>
	</div>
	<div class="backdrop-community-nav"></div>

</main>