<!-- The main content area -->
<main id="main" role="main">

	<!-- FEATURES-INTRO -->
	<section class="features-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-md-6">
					<h1>The Power of Ethereum <br> in Your Pocket</h1>
					<ul class="inline-links">
						<li><a href="#secure-messenger"><%- image_tag("/img/messenger.svg") %>Messenger</a></li>
						<li><a href="#integrated-ethereum-wallet"><%- image_tag("/img/crypto-wallet.svg") %>Crypto-wallet</a></li>
						<li><a href="#web3-browser"><%- image_tag("/img/browser-and-dapps.svg") %>Browser & DApps</a></li>
					</ul>
				</div>
				<div class="col-xl-5 col-md-6">
					<p class="teaser-1">Status is a multi-purpose communication tool that combines a peer-to-peer messenger, decentralized crypto-wallet, and web3 browser.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-INTRO -->

	<!-- FEATURES-CHAT -->
	<section class="features-chat col-dark-grey col-black" id="secure-messenger">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<h2 class="m-b-100">Secure Messenger</h2>
						<h4 class="m-b-25">Public, Private and Group Chats</h4>
						<p>Join any number of public channels or send private 1:1 or group chats. You can even send and receive crypto payments directly in your private chats.</p>
						<a href="https://get.status.im/chat/public/status" target="_blank" class="link-arrow link-arrow-white">Join Status Public Channel</a>
						<h4 class="m-t-90 m-b-25">Private Messaging with Whisper </h4>
						<p>Whisper uses peer-to-peer dark routing–making it impossible for anyone (including us) to know anything about you or who you're communicating with. We're also conducting R&D in improved messaging protocols.</p>
						<a href="/research/" class="link-arrow link-arrow-white">Learn more</a>
						<h4 class="m-t-90 m-b-25">Perfect Forward Secrecy & <br> E2E Encryption</h4>
						<p>Status uses the 'Double Ratchet' algorithm on top of whisper and end-to-end encryption for the highest grade of security and privacy.</p>
						<a href="/research/pfs.html" class="link-arrow link-arrow-white">Learn more</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%- image_tag("/img/secure-messenger-illustration.png", {srcset: "/img/secure-messenger-illustration-2x.png 2x"}) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-CHAT -->

	<!-- FEATURES-WALLET -->
	<section class="features-wallet col-black p-t-160" id="integrated-ethereum-wallet">
		<div class="container">
			<h2 class="m-b-100">Integrated <br> Ethereum Wallet</h2>
			<div class="row">
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">A Safe Wallet</h4>
						<p>Removal of intermediaries puts you in control of your funds. You and only you hold your private keys to your cryptocurrency, and no middle man has access.</p>
						<a href="/security/" class="link-arrow link-arrow-white">Learn more</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">ERC20 & ERC721 Compatible</h4>
						<p>Support for ERC20 and ERC721 tokens on the Ethereum network. Send, store, and receive your tokens confidently in Status. Contact us in the channel below to add your tokens.</p>
						<a href="https://get.status.im/chat/public/status-core-wallet" target="_blank" class="link-arrow link-arrow-white">Join Status Wallet Public Channel</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">Interact with Peers & DApps</h4>
						<p>The Status wallet integrates with the messenger and browser–enabling you to interact with peers and DApps. All transactions require verification of a signing phrase to protect you from phishing attacks.</p>
						<a href="https://get.status.im/chat/public/status-wallet" target="_blank" class="link-arrow link-arrow-white">Join Status Wallet Public Channel</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="img-holder">
						<%- image_tag("/img/integrated-ethereum-wallet.png", {srcset: "/img/integrated-ethereum-wallet-2x.png 2x"}) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-WALLET -->

	<!-- FEATURES-BROWSER -->
	<section class="features-browser p-t-160" id="web3-browser">
		<div class="container">
			<h2 class="m-b-100">Web3 Browser</h2>
			<div class="row">
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">Access Decentralized Applications</h4>
						<p>A growing ecosystem of DApps in your pocket. Browse the latest decentralized exchanges, marketplaces, games, social networks, and more.</p>
						<a href="/get/" class="link-arrow link-arrow-black">Install Status</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">Private & Secure <br>Browsing</h4>
						<p>Status implements the latest security standards to ensure you are safe and free from tracking and data collection. Browse on your terms.</p>
						<a href="/security/" class="link-arrow link-arrow-black">Learn more</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="inner">
						<h4 class="m-b-25">Extend your DApp <br> with Status</h4>
						<p>Extensions are a tool for developers to integrate their DApp functionality within Status in a native way. They create a seamless user experience directly in Status.</p>
						<a href="/extensions/" class="link-arrow link-arrow-black">Documentation</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="img-holder">
						<%- image_tag("/img/web3-browser-illustration.png", {srcset: "/img/web3-browser-illustration-2x.png 2x"}) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-BROWSER -->

	<!-- FEATURES-STATUS-DESKTOP -->
	<section class="features-desktop p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto">
					<div class="inner">
						<h2>Status Desktop</h2>
						<p class="teaser-2">Install the desktop alpha and enjoy secure and private messaging while you work. The desktop app syncs with your mobile account for a seamless experience.</p>
						<a href="/get/" class="btn btn-purple-fill btn-arrow btn-arrow-white">Get Status Desktop</a>
						<p class="announcement">Status Desktop is still in alpha. Install the nightly, help test and build it. <a href="/docs/faq-desktop.html">Desktop FAQ's</a></p>	
					</div>
				</div>
				<div class="col-md-6 d-flex justify-content-end">
					<div class="img-holder">
						<%- image_tag("/img/status-get-desktop-illustration.png", {srcset: "/img/status-get-desktop-illustration-2x.png 2x"}) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-STATUS-DESKTOP -->


	<!-- FEATURES-OPEN-SOURCE -->
	<section class="features-open-source p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="m-t-50">An Open Source Project</h3>
					<p class="teaser-2">Status is completely open source and made by contributors all over the world. Developers, designers, creators, educators, hobbyists, enthusiasts, and more – everyone has free and open access to the repos, assets, and information.</p>
					<ul class="inline-links">
						<li><a href="/get-involved/developers/"><%- image_tag("/img/developers-img.svg") %> Developers</a></li>
						<li><a href="/get-involved/educators/"><%- image_tag("/img/educators-img.svg") %> Educators</a></li>
						<li><a href="/get-involved/community-groups/"><%- image_tag("/img/community-group-img.svg") %> Community Groups</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Get Status</h3>
						<p class="teaser-2">Start enjoying Status on iOS, Android, MacOS, Windows and Linux.</p>
						<a href="/get/" class="btn btn-purple-fill btn-arrow btn-arrow-white">Download Apps</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-OPEN-SOURCE -->

</main>