<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-md-7 col-lg-6">
	            	<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-md-11">
								<h1><%- __('site.home.intro.title') %></h1>
								<p class="teaser-1"><%- __('site.home.intro.description') %></p>
								<div class="d-flex">
									<a href="<%- url_for('/get/') %>" class="btn btn-purple-fill btn-arrow btn-arrow-white m-r-30"><%- __('site.link.get-status') %></a>
									<a href="/get-involved/" class="btn btn-arrow"><%- __('site.link.get-involved') %></a>
								</div>
								<a href="#" target="_blank" class="announcement inactive"><span><%- __('site.home.intro.news') %></span><b></b></a>
							</div>
						</div>
	            	</div>
	            </div>
	            <div class="col-md-4 ml-auto col-lg-6 col-black">
					<%- image_tag("/img/teaser-image.png", { srcset: '/img/teaser-image-2x.png 2x'}) %>
	            </div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-INTRO-->

	<!--HOME-ABOUT-->
	<section class="home-about p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<h3><%- __('site.home.about.open-source.title') %></h3>
						<p class="teaser-2"><%- __('site.home.about.open-source.description') %></p>
						<ul class="inline-links">
							<li><a href="/get-involved/developers/"><%- image_tag("/img/developers-img.svg") %> <%- __('site.link.developers') %></a></li>
							<li><a href="/get-involved/educators/"><%- image_tag("/img/educators-img.svg") %> <%- __('site.link.educators') %></a></li>
							<li><a href="/get-involved/community-groups/"><%- image_tag("/img/community-group-img.svg") %> <%- __('site.link.community-groups') %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner">
						<h3><%- __('site.home.about.mission.title') %></h3>
						<p class="teaser-2"><%- __('site.home.about.mission.description') %></p>
						<a href="/about/" class="link-arrow"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-ABOUT-->

	<!--HOME-DECENTRALIZED-PRIVATE-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-grey home-decentralized">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<%- image_tag("/img/decentralized-illustration.png", { srcset: '/img/decentralized-illustration-2x.png 2x'}) %>
								<p class="teaser-2"><%- __('site.home.decentralized.subtitle') %></p>
								<h3><%- __('site.home.decentralized.title') %></h3>
								<p class="p-large"><%- __('site.home.decentralized.description') %></p>
								<a href="/features/" class="btn btn-arrow"><%- __('site.home.decentralized.link') %></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-black col-offset-top home-private">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-11 d-flex align-items-start flex-column">
								<p class="teaser-2"><%- __('site.home.private.subtitle') %></p>
								<h3><%- __('site.home.private.title') %></h3>
								<p class="p-large"><%- __('site.home.private.description') %></p>
								<a href="/features/#secure-messenger" class="btn btn-white btn-arrow btn-arrow-white"><%- __('site.link.learn-more') %></a>
								<%- image_tag("/img/private-message-illustration.png", { srcset: '/img/private-message-illustration-2x.png 2x'}) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-DECENTRALIZED-PRIVATE-->

	<!--HOME-WALLET-BROWSER-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-black col-offset-bottom home-wallet">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<p class="teaser-2"><%- __('site.home.wallet.subtitle') %></p>
								<h3><%- __('site.home.wallet.title') %></h3>
								<p class="p-large"><%- __('site.home.wallet.description') %></p>
								<a href="/features/#integrated-ethereum-wallet" class="btn btn-white btn-arrow btn-arrow-white"><%- __('site.link.learn-more') %></a>
								<div class="img-holder">
									<%- image_tag("/img/wallet-illustration.png", { srcset: '/img/wallet-illustration-2x.png 2x'}) %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-grey home-browser">
					<div class="inner d-flex align-items-start flex-column h-100">
						<%- image_tag("/img/browser-illustration.png", {srcset: "/img/browser-illustration-2x.png 2x"}) %>
						<p class="teaser-2"><%- __('site.home.browser.subtitle') %></p>
						<h3><%- __('site.home.browser.title') %></h3>
						<p class="p-large"><%- __('site.home.browser.description') %></p>
						<a href="/features/#web3-browser" class="btn btn-arrow"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-WALLET-BROWSER-->

	<!--HOME-SECURITY-->
	<section class="home-security p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="inner text-center">
						<div class="img-holder">
							<%- image_tag("/img/lock.svg") %>
						</div>
						<h3><%- __('site.home.security.title') %></h3>
						<p class="teaser-2"><%- __('site.home.security.description') %></p>
						<a href="/security/" class="link-arrow"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECURITY-->

</main>