<!-- The main content area -->
<main id="main" role="main">

  <div class="stripe">
    <b>Status Documentation</b>
    <%- include('partial/shared-partials/partials/search') %>
  </div>

  <section class="single-docs-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xl-2">
          <%- partial('partial/sidebar') %>
        </div>
        <div class="col-md-9 col-xl-10">
          <div class="row">
            <div class="col-md-12">
              <div class="editor-content">
                <div class="docs-lp-wrapper row">
                  <%- page_anchor(page.content) %>
                </div>
              </div>
              
              <div class="docs-footer">
                Last update: <%- page.updated.format(config.date_format) %>
                <%- page_nav() %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
