<!-- The main content area -->
<main id="main" role="main">

	<section class="research-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>Researching a Better Web</h1>
					<p class="teaser-1">We are driving the R&D of lighter, more efficient, and scalable Web3 technologies.</p>
				</div>
				<div class="col-md-6 ml-auto">
					<div class="img-holder"><%- image_tag("/img/research-illustration.svg") %></div>
				</div>
			</div>
		</div>
	</section>

	<div class="position-relative">
		<section class="quick-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li><a href="#messaging-protocol">Messaging Protocol</a></li>
							<li><a href="#nimbus">Nimbus</a></li>
							<li><a href="#vyper">Vyper</a></li>
							<li><a href="#clients">Ultra Light Clients</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="p-b-160 p-t-160 research-whisper" id="messaging-protocol">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="inner">
						<h2>Messaging Protocol</h2>
						<p>This research is centered on providing an anonymous communication protocol designed to ensure metadata isn’t leaked when messages are communicated between peers. It deals with how messages are transported, and not what is in them. Additionally, it should be designed with mobile in mind to ensure usability and security in resource restricted devices. </p>
						<ul class="inline-links">
							<li><a href="https://lokalise.co/projects"><%- image_tag("/img/icon-book.svg") %> Documentation</a></li>
							<li><a href="https://github.com/status-im/swarms/blob/master/ideas/311-status-protocol.md" target="_blank"><%- image_tag("/img/icon-github.svg") %> View Repository</a></li>
							<li><a href="https://get.status.im/chat/public/status-protocol" target="_blank"><%- image_tag("/img/icon-status-black.svg") %> Join #status-protocol</a></li>
							<li><a href="https://discuss.status.im/tags/protocol" target="_blank"><%- image_tag("/img/icon-news.svg") %> View long form discusion</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 ml-auto">
					<div class="inner-img">
						<%- image_tag("/img/research-whisper.svg") %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-160 p-t-160 research-nimbus" id="nimbus">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-img">
						<%- image_tag("/img/research-nimbus.svg") %>
					</div>
				</div>
				<div class="col-md-5 ml-auto">
					<div class="inner">
						<h2>Nimbus</h2>
						<p>Nimbus is a research project and a client implementation for Ethereum 2.0 designed to perform well on embedded systems and personal mobile devices, including older smartphones with resource-restricted hardware.</p>
						<a href="https://nimbus.status.im/" target="_blank" class="btn btn-arrow">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-160 p-t-160 research-vyper col-black" id="vyper">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto">
					<div class="inner">
						<h2>Vyper</h2>
						<p>Vyper is a smart contract development language built with security, language and compiler simplicity, and auditability in mind. Vyper code should be maximally human-readable. Furthermore, it should be maximally difficult to write misleading code. </p>
						<ul class="inline-links">
							<li><a href="https://github.com/ethereum/vyper" target="_blank"><%- image_tag("/img/icon-github-white.svg") %> View Repository</a></li>
							<li><a href="https://our.status.im/tag/vyper/" target="_blank"><%- image_tag("/img/icon-news-white.svg") %> Latest News</a></li>
							<li><a href="https://vyper.readthedocs.io/en/latest/" target="_blank"><%- image_tag("/img/icon-book-white.svg") %> Learn More About Vyper</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner-img">
						<%- image_tag("/img/research-vyper.svg") %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-b-160 p-t-160 research-clients" id="clients">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-img">
						<%- image_tag("/img/research-clients.svg") %>
					</div>
				</div>
				<div class="col-md-5 ml-auto">
					<div class="inner">
						<h2>Ultra Light Clients</h2>
						<p>ULC is a new option in the light Ethereum subprotocol that doesn’t break compatibility with the protocol, but does significantly reduce the time and resources required to sync with the main Ethereum chain. The main idea is to reduce the amount of messages and do less client side validation.</p>
						<ul class="inline-links">
							<li><a href="#"><%- image_tag("/img/icon-book.svg") %> Documentation</a></li>
							<li><a href="#" target="_blank"><%- image_tag("/img/icon-github.svg") %> View Repository</a></li>
							<li><a href="#" target="_blank"><%- image_tag("/img/icon-status-black.svg") %> Join #status</a></li>
							<li><a href="#" target="_blank"><%- image_tag("/img/icon-news.svg") %> View long form discusion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="features-open-source p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="m-t-50">An Open Source Project</h3>
					<p class="teaser-2">Status is completely open source and made by contributors all over the world. Developers, designers, creators, educators, hobbyists, enthusiasts, and more – everyone has free and open access to the repos, assets, and information.</p>
					<ul class="inline-links">
						<li><a href="/get-involved/developers/"><%- image_tag("/img/developers-img.svg") %> Developers</a></li>
						<li><a href="/get-involved/educators/"><%- image_tag("/img/educators-img.svg") %> Educators</a></li>
						<li><a href="/get-involved/community-groups/"><%- image_tag("/img/community-group-img.svg") %> Community Groups</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Get Status</h3>
						<p class="teaser-2">Start enjoying Status on iOS, Android, MacOS, Windows and Linux.</p>
						<a href="/get/" class="btn btn-purple-fill btn-arrow btn-arrow-white">Download Apps</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>
