<!-- The main content area -->
<main id="main" role="main">

	<section class="snt-intro m-t-90">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="inner">
						<%- image_tag("/img/status-token.svg") %>
						<h1>Status Network Token</h1>
						<p class="teaser-1">SNT powers and incentivizes participation <br>in the Status Network.</p>
					</div>
					<nav class="m-t-90">
						<ul class="inline-links">
							<li><a href="#basics" class="link">The Basics</a></li>
							<li><a href="#using-snt">Using SNT</a></li>
							<li><a href="#research">Research</a></li>
							<li><a href="#get-involved">Get Involved</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<section class="snt-basics p-t-160 p-b-160 col-black" id="basics">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="m-b-100">The Basics</h2>
					<ul>
						<li class="has-link">
							<div class="inner">
								<h4><a href="#using-snt">ERC-20 Token</a></h4>
								<p>SNT is an ERC-20 token used to access and power decentralized services in the Status Network and application.</p>
								<a href="#using-snt" class="link-arrow link-arrow-white">See all SNT Use Cases</a>
							</div>
							<%- image_tag("/img/basic-icon-1.svg") %>
						</li>
						<li>
							<div class="inner">
								<h4>Open Source</h4>
								<p>Status is an entirely open source project in which anyone can use the code and token to suit their needs. Our research shows that open source and governance structures impact project economic value.</p>
							</div>
							<%- image_tag("/img/basic-icon-2.svg") %>
						</li>
						<li class="has-link">
							<div class="inner">
								<h4><a href="/whitepaper.pdf" target="_blank">Users-as-Stakeholders</a></h4>
								<p>With SNT, we create a Users-as-Stakeholders network, allowing the behaviour of the network and its software, to become aligned with the interests of its Users.</p>
								<a href="/whitepaper.pdf" class="link-arrow link-arrow-white" target="_blank">Learn more in the White Paper</a>
							</div>
							<%- image_tag("/img/basic-icon-3.svg") %>
						</li>
						<li class="has-link">
							<div class="inner">
								<h4><a href="#research">Research</a></h4>
								<p>We conduct research on cryptoeconomic models, and peer-to-peer technologies to ensure long term health of the Status Network. </p>
								<a href="#research" class="link-arrow link-arrow-white">Learn more about the research</a>
							</div>
							<%- image_tag("/img/basic-icon-4.svg") %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="using-snt p-t-160" id="using-snt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Using SNT</h2>
					<div class="row">
						<div class="col-md-6">
							<p class="teaser-2">SNT is required to power certain application features and create an open source, decentralized economy. Dive deeper into each of the SNT Use Cases below to learn more about the cryptoeconomic research and how value flows throughout the network. </p>
						</div>
					</div>
					<div class="items">
						<div class="item">
							<%- image_tag("/img/snt-item-1.svg") %>
							<div class="inner">
								<h3>Network Incentivization</h3>
								<div class="status">In research</div>
								<p>Create a framework and incentivization structure for people to deploy and use Status nodes. SNT is used to incentivize and reward network participants to run a node in order to ensure the app continues to work if all nodes in the Status-hosted cluster are down. This includes paying for forwarded messages and paying for offline messages.</p>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/316-core-network-incentives.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Teller Network</h3>
								<div class="status">In development</div>
								<p>Designed as a DApp within Status which provides a borderless, peer-to-peer, fiat-to-crypto ‘Teller Network’ that allows Stakeholders to find nearby users to exchange their cash for digital assets and currency. SNT is required to become a seller in the network.</p>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/321-teller-network.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
							<%- image_tag("/img/snt-item-2.png", { srcset: '/img/snt-item-2-2x.png 2x'}) %>
							<%- image_tag("/img/snt-item-2-hover.png", { srcset: '/img/snt-item-2-hover-2x.png 2x'}) %>
						</div>
						<div class="item">
							<div class="inner">
								<h3>ENS User Name</h3>
								<div class="status">Live</div>
								<p>ENS addresses are like usernames. Jenny.eth names can point to a personal account, enabling others to send tokens or find on Status chat. ENS addresses can be searched in Status chat, wallet and browser. <br><br>Registering a stateofus.eth ENS name costs 10 SNT. Once a name is reserved, the SNT is locked into a registry contract for 1 year. After the year is up, the name can be released to get the tokens back—or take no action to hold on to it.</p>
								<ul class="inline-links">
									<li><a href="https://get.status.im/browse/names.statusnet.eth" target="_blank" class="link-arrow">Register an ENS</a></li>
								</ul>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
							<%- image_tag("/img/snt-item-4.png", { srcset: '/img/snt-item-4-2x.png 2x'}) %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-3.png", { srcset: '/img/snt-item-3-2x.png 2x'}) %>
							<div class="inner">
								<h3>Sticker Market</h3>
								<div class="status">In development</div>
								<p>Stickers offer a fun way for users to visually interact with their friends and family. The Sticker Market within Status will allow anyone to create and sell their own designs to users all over the world, and begin using stickers within any Status chat.<br><br>SNT will be required to buy stickers through a curated marketplace.</p>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/313-sticker-market/readme.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Tribute to Talk</h3>
								<div class="status">In development</div>
								<p>Tribute to Talk will introduce an economics-based anti-spam filter – in this case for receiving messages and “cold” contact requests from users. This enables stakeholders to set a minimum amount of SNT that must be deposited in order for someone outside of their network contact him/her directly. </p>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/314-tribute-to-talk/README.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
							<%- image_tag("/img/snt-item-6.svg") %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-5.png", { srcset: '/img/snt-item-5-2x.png 2x'}) %>
							<div class="inner">
								<h3>DAO & Governance</h3>
								<div class="status">In research</div>
								<p>A core part of the Status Network Token is giving stakeholders the ability to choose the direction that the software is developed. SNT is used to make decisions on proposals, which can be made by any Stakeholder.  For each decision, the token is cloned into a separate decision token. The amount of tokens you hold at that time becomes your voting power for that decision and it does not cost SNT to vote.</p>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/322-dao.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="item">
							<div class="inner">
								<h3>DApp Curation</h3>
								<div class="status">Live</div>
								<p>The Status DApp Directory provides a way for stakeholders in the network to discover DApps, as curated by other community members. It will also provide a way to navigate by category and rating, enabling users to find exactly what they are looking for. SNT will be required for curation and signaling in the directory. A deposit of SNT will be required by DApp Developers who wish to attain greater attention to their DApp.</p>
								<ul class="inline-links">
									<li><a href="https://get.status.im/browse/https://vote.status.im/" target="_blank" class="link-arrow">Browse DApps</a></li>
								</ul>
							</div>
							<ul class="hover-links">
								<li>
									<a href="https://github.com/status-im/swarms/blob/master/ideas/317-dapps-store.md" target="_blank" class="icon-github">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.254C-0.000271674 14.668 2.75414 18.5869 6.83775 19.9826C7.33807 20.0761 7.52044 19.7599 7.52044 19.4879C7.52044 19.2443 7.51205 18.5996 7.50725 17.7445C4.72607 18.3634 4.13936 16.3702 4.13936 16.3702C3.68343 15.1853 3.02833 14.8691 3.02833 14.8691C2.12007 14.2342 3.09672 14.2465 3.09672 14.2465C4.10097 14.3191 4.62889 15.3034 4.62889 15.3034C5.52035 16.8697 6.96853 16.4169 7.53844 16.1548C7.62963 15.4929 7.88759 15.0414 8.17434 14.7842C5.95349 14.5258 3.61864 13.6461 3.61864 9.71751C3.61864 8.59787 4.00858 7.68246 4.64809 6.96638C4.5449 6.70677 4.20175 5.66341 4.74647 4.25217C4.74647 4.25217 5.58634 3.97657 7.49525 5.30414C8.31137 5.076 9.15337 4.95974 9.99926 4.95841C10.8447 4.95957 11.6863 5.07541 12.5021 5.30291C14.4098 3.97657 15.2497 4.25217 15.2497 4.25217C15.7944 5.66341 15.4512 6.70677 15.348 6.96638C15.9899 7.68246 16.3763 8.59787 16.3763 9.71751C16.3763 13.6559 14.0378 14.5234 11.811 14.7768C12.1697 15.093 12.4901 15.7193 12.4901 16.6753C12.4901 18.0459 12.4781 19.152 12.4781 19.4879C12.4781 19.7623 12.6581 20.081 13.1644 19.9813C18.0094 18.3234 20.8571 13.1875 19.769 8.07C18.6808 2.9525 14.0065 -0.501394 8.92824 0.0596218C3.84998 0.620637 0.00032265 5.01621 0 10.254H0Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
									<a href="https://get.status.im/chat/public/snt-use-cases" target="_blank" class="icon-status">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM11.7617 9.85073C11.131 9.8859 10.618 9.83246 10.105 9.77899L10.105 9.77899C9.59197 9.72555 9.07897 9.67211 8.44822 9.70729C8.14552 9.72416 7.82454 9.76686 7.51958 9.83838C7.70555 7.58268 9.35682 5.60911 11.6024 5.48386C12.9803 5.40694 14.3574 6.22961 14.4323 7.56493C14.5057 8.87735 13.4706 9.75536 11.7617 9.85073ZM8.38396 14.6058C7.07852 14.6764 5.77384 13.9222 5.70298 12.6982C5.63329 11.4951 6.61403 10.6903 8.23287 10.6029C8.83038 10.5707 9.31643 10.6196 9.80244 10.6686C10.2885 10.7176 10.7745 10.7666 11.3721 10.7344C11.6589 10.7189 11.9629 10.6797 12.2518 10.6142C12.0757 12.6819 10.5113 14.491 8.38396 14.6058Z" fill="#3C4049" fill-opacity="0.8"/>
										</svg>
									</a>
								</li>
							</ul>
							<%- image_tag("/img/snt-item-8.svg") %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-7.svg") %>
							<div class="inner">
								<h3>Voting DApp</h3>
								<div class="status">Live</div>
								<p>A first step towards community governance, the Status Voting DApp enables stakeholders to influence the future of the network. The Voting DApp can be used by anyone to set up a community vote with SNT. Leveraging quadratic voting, the amount of SNT in your wallet determines how many votes you can cast. </p>
								<ul class="inline-links">
									<li><a href="https://get.status.im/browse/https://vote.status.im/" target="_blank" class="link-token">Check out the Voting DApp</a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Acquisition Engine</h3>
								<div class="status">In research</div>
								<p>Achieving our mission ultimately requires one thing: widespread end-user adoption. Using the Status Network Token, we can design mechanisms for growth that have been tried and tested in Web 2.0, whilst providing greater transparency and better alignment of incentives for participants. The Status Acquisition Engine provides a cryptographically provable and transparent means of growing the user base.</p>
							</div>
							<%- image_tag("/img/snt-item-9.svg") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="snt-research p-t-160 p-b-160" id="research">
		<div class="container">
			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					<h2>Cryptoeconomic <br>Research</h2>
					<p class="p-large">The Status team is conducting research on the cryptoeconomic models for each SNT use case to inform product and feature development as well as incentivization of the Status Network.
						<br><br>
						These cryptoeconomic models are an ongoing research effort and we encourage anyone to explore, critique, and review the work. 
						<br><br>
						The models help project the value of a SNT Utility feature and its impact on the Status Network Combined Utility Values based on usage, growth rate, SNT supply and circulation.
					</p>
					<ul class="inline-links">
						<li><a href="http://get.status.im/chat/public/token-economics" target="_blank" class="link"><%- image_tag("/img/status-purple-logo.svg") %> Join #token-economics</a></li>
					</ul>
					<p>Join the public channel & learn more about the research</p>
				</div>
				<div class="col-md-4 mr-auto">
					<%- image_tag("/img/utility-value.png", { srcset: '/img/utility-value-2x.png 2x', class: 'utility-value'}) %>
					<a href="https://observablehq.com/@bgits/status-network-combined-utility-values" target="_blank" class="btn btn-purple">Combined Utility Value Workbook</a>
					<p>Review the Status Network Combined Utility Values Workbook and test our own models.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-160 p-b-160 snt-get-involved" id="get-involved">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="m-t-50">Learn More</h3>
					<p class="teaser-2">Many of the SNT use cases are in active research and development. Join the public discussions or read the SNT FAQ's to learn more about the SNT use cases and token economic research.</p>
					<ul class="inline-links">
						<li><a href="http://get.status.im/chat/public/token-economics" target="_blank"><%- image_tag("/img/status-purple-logo.svg") %> Join #token-economics</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Create Your Own SNT Financial Model</h3>
						<p class="teaser-2">We encourage anyone to get involved and test the economic models outlined in the workbooks. If you are a researcher, economist, or simply curious about the financial models, please get involved.</p>
						<a href="https://observablehq.com/@bgits/status-network-combined-utility-values" target="_blank" class="btn btn-purple-fill btn-arrow btn-arrow-white">Test the SNT Token Models</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>