<div class="page-intro wrapper">
  <%- include('partial/shared-partials/partials/search') %>
  <header class="docs-header">
    <div class="docs-intro">
      <h1>Get the latest web</h1>
      <p>You can download builds from our current release.</p>
      <br/>
    </div>
    <ul>
      <li>
        <div class="inner">
          <h3>Documentation</h3>
          <p>JS API and Extensions</p>
        </div>
        <img src="../img/arrow_blue_shaded.svg" />
        <a href="/docs/"></a>
      </li>
      <li>
        <div class="inner">
          <h3>Build Status</h3>
          <p>For mobile and desktop</p>
        </div>
        <img src="../img/arrow_blue_shaded.svg" />
        <a href="/build_status/"></a>
      </li>
      <li>
        <div class="inner">
          <h3>Research</h3>
          <p>Dive deeper...</p>
        </div>
        <img src="../img/arrow_blue_shaded.svg" />
        <a href="/research/"></a>
      </li>
    </ul>
  </header>
</div>
<div id="content-wrap">
  <div id="content" class="wrapper">
    <div id="content-inner">
      <article class="article-container" itemscope itemtype="http://schema.org/Article">
        <div class="article-inner">
          <div class="builds-page">
            <div class="inner">
                <div class="article-content" itemprop="articleBody">
                    <div class="builds-headings">
                        <h1>Status Stable Builds</h1>
                        <h3>Updated: <%= date(Date.now(), 'YYYY/MM/DD HH:mm:ss') %> UTC</h3>
                        <p>If you are interested in more recent but also more unstable builds you can visit our <a href="/nightly/">nightly builds</a> page.</p>
                        See our <a href="../docs/FAQs.html" target="_blank">General FAQ</a> and 
                        <a href="../docs/FAQ-desktop.html" target="_blank">Desktop FAQ</a> for more information.
                    </div>
                    <div class="builds-builds-wrap">
                        <div class="box-desktop">
                            <h2>Linux</h2>
                            <a href="<%= site.data.releases['APP'] %>" class="app-download" id="release:app" download>
                                <img src="../nightly/img/linux.png" width="150" />
                                <br><br>
                                <span><%= site.data.releases['APP'].split('/').pop() %></span>
                            </a>
                        </div>
                        <div class="box-desktop">
                            <h2>macOS</h2>
                            <a href="<%= site.data.releases['MAC'] %>" class="app-download" id="release:mac" download>
                                <img src="../nightly/img/macos.png" width="150" />
                                <br><br>
                                <span><%= site.data.releases['MAC'].split('/').pop() %></span>
                            </a>
                        </div>
                        <div class="box-desktop">
                            <h2>Windows</h2>
                            <a href="<%= site.data.releases['WIN'] %>" class="app-download" id="release:win" download>
                                <img src="../nightly/img/windows.png" width="150" />
                                <br><br>
                                <span><%= site.data.releases['WIN'].split('/').pop() %></span>
                            </a>
                        </div>
                        <div class="clear"></div>
                        <div class="box-mobile">
                            <h2>Android</h2>
                            <a href="<%= site.data.releases['APK'] %>" class="app-download" id="release:apk" download>
                                <img src="../nightly/img/qr-apk.png" width="150" />
                                <br><br>
                                <span><%= site.data.releases['APK'].split('/').pop() %></span>
                            </a>
                        </div>
                        <div class="box-mobile">
                            <h2>iOS</h2>
                            <a href="<%= site.data.releases['DIAWI'] %>" class="app-download" id="release:ios" download>
                                <img src="../nightly/img/qr-ios.png" width="150px" />
                                <br><br>
                                <span><%= site.data.releases['DIAWI'] %></span>
                            </a>
                            <small>(Requires diawi access)</small>
                        </div>
                    </div>
                  </div>
               </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
