<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-md-7 col-lg-6">
	            	<div class="inner d-flex align-items-start flex-column h-100 m-t-90">
						<div class="row">
							<div class="col-md-11">
								<h1><%- __('site.home.intro.title') %></h1>
								<div class="d-flex m-t-50">
									<a href="#/" class="m-r-20"><%- image_tag("/img/app-store.svg") %></a>
									<a href="#" class="m-r-20"><%- image_tag("/img/google-play.svg") %></a>
									<a href="#"><%- image_tag("/img/apk.svg") %></a>
								</div>
								<ul class="features m-t-90">
									<li>
										<div class="img-holder"><%- image_tag("/img/icon-private-messaging.svg") %></div>
										<div class="li-inner">
											<h4><%- __('site.landing-page-v1.intro.private-messaging.title') %></h4>
											<p><%- __('site.landing-page-v1.intro.private-messaging.description') %></p>
										</div>
									</li>
									<li>
										<div class="img-holder"><%- image_tag("/img/icon-secure-wallet.svg") %></div>
										<div class="li-inner">
											<h4><%- __('site.landing-page-v1.intro.secure-wallet.title') %></h4>
											<p><%- __('site.landing-page-v1.intro.secure-wallet.description') %></p>
										</div>
									</li>
									<li>
										<div class="img-holder"><%- image_tag("/img/icon-web3-browser.svg") %></div>
										<div class="li-inner">
											<h4><%- __('site.landing-page-v1.intro.web3-browser.title') %></h4>
											<p><%- __('site.landing-page-v1.intro.web3-browser.description') %></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
	            	</div>
	            </div>
	            <div class="col-md-4 ml-auto col-lg-6 col-black">
					<div class="mobile"><%- image_tag("/img/teaser-image.png", { srcset: '/img/teaser-image-2x.png 2x'}) %></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-INTRO-->

	<div class="channel-invite p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h3 class="text-center">
						<% for (var channel in site.data.channels) { 
							if(channel == page.lang) { %>
								<%- __('site.landing-page-v1.invite.title', site.data.channels[channel]['name'], site.data.channels[channel]['name']) %>
							<% } %>
						<% } %>
					</h3>
				</div>
				<div class="col-md-10 ml-auto mr-auto">
					<ul>
						<li><%- __('site.landing-page-v1.invite.prize.option-1') %></li>
						<li><%- __('site.landing-page-v1.invite.prize.option-2') %></li>
						<li><%- __('site.landing-page-v1.invite.prize.option-3') %></li>
						<li><%- __('site.landing-page-v1.invite.prize.option-4') %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</main>